@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Poppins;
  background: #0d0d11;
  font-size: 16px;
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page__solutions {
  margin: 0 0 192px 0;
}
.page__partners {
  margin: 0 0 160px 0;
}
.page__services {
  margin: 0 0 180px 0;
}
.page__whywe {
  display: flex;
  flex-direction: column;
  margin: 0 0 192px 0;
}
.page__advantages {
  margin: 0 0 248px 0;
}
.page__reviews {
  margin: 0 0 200px 0;
}
.page__articles {
  margin: 0 0 200px 0;
}
.page__start {
  margin: 0 0 200px 0;
}
@media (max-width: 767.98px) {
  .page__solutions {
    margin: 0 0 80px 0;
  }
  .page__partners {
    margin: 0 0 80px 0;
  }
  .page__services {
    margin: 0 0 100px 0;
  }
  .page__whywe {
    margin: 0 0 100px 0;
  }
  .page__advantages {
    margin: 0 0 100px 0;
  }
  .page__reviews {
    margin: 0 0 100px 0;
  }
  .page__articles {
    margin: 0 0 100px 0;
  }
  .page__start {
    margin: 0 0 100px 0;
  }
}
@media (max-width: 424.98px) {
  .page__solutions {
    margin: 0 0 40px 0;
  }
  .page__partners {
    margin: 0 0 40px 0;
  }
  .page__services {
    margin: 0 0 40px 0;
  }
  .page__whywe {
    margin: 0 0 40px 0;
  }
  .page__advantages {
    margin: 0 0 40px 0;
  }
  .page__reviews {
    margin: 0 0 40px 0;
  }
  .page__articles {
    margin: 0 0 40px 0;
  }
  .page__start {
    margin: 0 0 40px 0;
  }
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%; /* 22/14 */
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  background: #3d96f4;
  border-radius: 50px;
  color: #ffffff;
}

.button:hover {
  transition: all 0.3s ease 0s;
  background: #95c4f7;
}

.button:active {
  background: #194c83;
}

.title {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 119.607843%; /* 61/51 */
  color: #ffffff;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%; /* 27/18 */
  color: #9c9c9c;
}

.label {
  font-size: 10.8px;
  display: inline-block;
  line-height: 157.407407%; /* 17/10.8 */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 11px 19px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 41px;
  }
}
@media (max-width: 424.98px) {
  .title {
    font-size: 30px;
  }
}
.header__row {
  min-height: 116px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin: 0 0 70px 0;
}
.header__logo, .header__cart, .header__button {
  position: relative;
  z-index: 2;
}
.header__menu {
  display: flex;
  row-gap: 35px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
}
.header__cart {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
.header__button {
  flex: 0 0 auto;
}
.header__icon {
  display: none;
  background: #000;
}
@media (max-width: 991.98px) {
  .header__menu, .header__row {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__button {
    padding: 12px 20px;
  }
}
@media (max-width: 767.98px) {
  .header__menu, .header__row {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .header__icon {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .header__icon span, .header__icon::after, .header__icon::before {
    content: "";
    right: 0;
    width: 100%;
    position: absolute;
    height: 2px;
    background: #fff;
    transition: all 0.5s ease 0s;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon span {
    top: calc(50% - 1px);
  }
  .header__icon::after {
    bottom: 0;
  }
  .menu-open .header__icon span {
    width: 0;
  }
  .menu-open .header__icon::before {
    top: calc(50% - 1px);
    transform: rotate(-225deg);
  }
  .menu-open .header__icon::after {
    bottom: calc(50% - 1px);
    transform: rotate(225deg);
  }
}
@media (max-width: 460px) {
  .header__logo {
    width: 40px;
    overflow: hidden;
  }
}
@media (max-width: 350px) {
  .header__logo {
    display: none;
  }
}

.cart-header__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 155.555556%; /* 28/18 */
}
.cart-header__text:hover {
  text-decoration: underline;
}
.cart-header__quantity {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__body {
  overflow: auto;
  z-index: 1;
}
.menu__body::before {
  content: "";
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: -100%;
  z-index: 2;
  transition: top 0.3s ease 0s;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1 1 auto;
  row-gap: 5px;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.menu__link {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 162.5%; /* 26/16 */
  color: #ffffff;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    padding: 0 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #000;
    padding: 100px 15px 30px 15px;
    transition: top 0.3s ease 0s;
  }
  .menu__list {
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
    padding: 30px 0 0 0;
  }
  .menu__link {
    font-size: 30px;
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    top: 0;
  }
}

.solutions__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.solutions__column {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .solutions__row {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
  }
  .solutions__column {
    flex: 1 1 100%;
  }
}
@media (max-width: 424.98px) {
  .solutions__row {
    row-gap: 25px;
  }
}

.column-content {
  max-width: 506px;
}
.column-content__title:not(:last-child) {
  margin: 0 0 28px 0;
  position: relative;
}
.column-content__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -21px;
  left: -33px;
  background: url(/img/main/title-bg.svg) 0 0 no-repeat;
  z-index: -1;
}
.column-content__text:not(:last-child) {
  margin: 0 0 33px 0;
}
.column-content__items {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 991.98px) {
  .column-content__title {
    font-size: 45px;
  }
}
@media (max-width: 767.98px) {
  .column-content__items {
    justify-content: center;
  }
}
@media (max-width: 424.98px) {
  .column-content__title::before {
    display: none;
  }
  .column-content__title:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .column-content__text:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .column-content__items {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .column-content__title {
    font-size: 30px;
  }
}
@media (max-width: 374.98px) {
  .column-content__items {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

.button_grey {
  background: rgba(129, 129, 139, 0.2);
}

.column-images {
  display: flex;
  justify-content: center;
  -moz-column-gap: 9.615385%;
       column-gap: 9.615385%; /* 60/624 */
}
.column-images__column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 32px;
  flex: 0 1 auto;
}
.column-images__image img {
  max-width: 100%;
}
.column-images__image_1 img {
  border-radius: 122px 122px 122px 122px;
}
.column-images__image_4 img {
  border-radius: 122px 122px 122px 122px;
}
.column-images__image_2 img {
  border-radius: 122px 0 122px 122px;
}
.column-images__image_3 img {
  border-radius: 122px 122px 122px 0px;
}

.partners__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0 0 44px 0;
}
.partners__row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  max-width: 1150px;
}
.partners__item img {
  max-width: 100%;
}

.services__container {
  display: flex;
  align-items: center;
}
.services__text {
  flex: 0 1 auto;
  padding-right: 20px;
}
.services__content {
  display: flex;
  gap: 32px;
  flex: 1 1 50%;
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
    row-gap: 50px;
  }
}
@media (max-width: 605px) {
  .services__text {
    padding: 0;
  }
}
@media (max-width: 605px) {
  .services__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.text-services__label {
  font-size: 10.8px;
  display: inline-block;
  line-height: 157.407407%; /* 17/10.8 */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 11px 19px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  max-width: 101px;
}
.text-services__label:not(:last-child) {
  margin: 0 0 19px 0;
}
.text-services__title:not(:last-child) {
  margin: 0 0 12px 0;
}
.text-services__text {
  max-width: 490px;
}
.text-services__text:not(:last-child) {
  margin: 0 0 33px 0;
}
@media (max-width: 1100px) {
  .text-services__text {
    max-width: 100%;
  }
}
@media (max-width: 605px) {
  .text-services__button {
    min-width: 100%;
  }
}

.content-services__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-services__column:first-child {
  padding: 48px 0 0 0;
}
.content-services__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
  max-width: 315px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 605px) {
  .content-services__column:first-child {
    padding: 0;
  }
  .content-services__column {
    flex: 1 0 100%;
    justify-content: flex-end;
  }
  .content-services__item {
    max-width: none;
    padding: 40px 20px;
  }
  .content-services__item:nth-child(2) {
    align-items: flex-end;
    text-align: end;
  }
}

.item-content-services__image:not(:last-child) {
  margin: 0 0 16px 0;
}
.item-content-services__title {
  font-size: 19.2px;
  line-height: 140.625%; /* 27/19.2 */
  color: #ffffff;
}
.item-content-services__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-content-services__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #81818b;
  max-width: 220px;
}
@media (max-width: 605px) {
  .item-content-services__text {
    max-width: none;
  }
}

.whywe__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.whywe__column {
  display: flex;
}
@media (max-width: 1023.98px) {
  .whywe__container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 424.98px) {
  .whywe__container {
    gap: 32px;
  }
}

.column-whywe-images {
  align-items: flex-end;
  position: relative;
}
.column-whywe-images__image img {
  max-width: 100%;
}
.column-whywe-images__image:first-child img {
  border-radius: 630px 0px 378px 378px;
}
.column-whywe-images__image:first-child::before {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  bottom: 0;
  left: -13px;
  background: url(/img/whywe/01bg.svg) center no-repeat;
  z-index: -1;
}
.column-whywe-images__image:last-child img {
  border-radius: 378px 378px 378px 0px;
}

.column-whywe-content {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}
.column-whywe-content__label {
  max-width: 155px;
}
.column-whywe-content__label:not(:last-child) {
  margin: 0 0 43px 0;
}
.column-whywe-content__title:not(:last-child) {
  margin: 0 0 40px 0;
}
.column-whywe-content__text:not(:last-child) {
  margin: 0 0 35px 0;
}
.column-whywe-content__list {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #9c9c9c;
  padding-left: 40px;
}
@media (max-width: 1023.98px) {
  .column-whywe-content__list {
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media (max-width: 424.98px) {
  .column-whywe-content__list {
    padding: 0 0 0 40px;
  }
}

.list-column-whywe-content__item {
  position: relative;
}
.list-column-whywe-content__item:not(:last-child) {
  margin: 0 0 21px 0;
}
.list-column-whywe-content__item::before {
  content: "";
  position: absolute;
  background: url(/img/whywe/vector.svg) center no-repeat;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 50%;
  top: -5px;
  left: -40px;
  width: 32px;
  height: 32px;
}
.list-column-whywe-content__item:not(:last-child) {
  margin: 0 0 21px 0;
}

.advantages__container {
  display: flex;
  gap: 32px;
}
.advantages__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.advantages__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 50px 40px;
  max-width: 360px;
}
.advantages__title:not(:last-child) {
  margin: 0 0 32px 0;
}
.advantages__image img {
  border-radius: 0px 435px 378px 378px;
  max-width: 100%;
}
@media (max-width: 1100px) {
  .advantages__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .advantages__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .advantages__item {
    max-width: none;
  }
  .advantages__item:nth-child(odd) {
    text-align: right;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
.reviews__text {
  display: flex;
  justify-content: space-between;
}
.reviews__label:not(:last-child) {
  margin: 0 0 36px 0;
}
.reviews__title:not(:last-child) {
  margin: 0 0 12px 0;
}
.reviews .text-reviews-items__text {
  max-width: 740px;
  padding-right: 20px;
}
.reviews .text-reviews-items__button {
  align-self: flex-end;
  flex: 0 0 auto;
}
@media (max-width: 767.98px) {
  .reviews .text-reviews-items__text:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .reviews .text-reviews-items__button {
    min-width: 100%;
  }
  .reviews .text-reviews-items__button a {
    min-width: 100%;
  }
}
.reviews__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.reviews__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 60px 40px;
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .reviews__items {
    grid-template-columns: auto;
    row-gap: 32px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .reviews__item {
    padding: 30px 20px;
  }
}
@media (max-width: 767.98px) {
  .reviews__text {
    flex-direction: column;
  }
}

.item-reviews__author {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
.item-reviews__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 140.625%; /* 45/32 */
  color: #ffffff;
}
.item-reviews__title:not(:last-child) {
  margin: 0 0 7px 0;
}
.item-reviews__text {
  display: flex;
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 150%;
  color: #9c9c9c;
}
.item-reviews__author:not(:last-child) {
  margin: 0 0 33px 0;
}
.item-reviews__title:not(:last-child) {
  margin: 0 0 35px 0;
}
.item-reviews__text:not(:last-child) {
  margin: 0 0 34px 0;
}
@media (max-width: 767.98px) {
  .item-reviews__title {
    font-size: 25px;
  }
}

.author-item-reviews__image img {
  max-width: 100%;
  border-radius: 50%;
}
.author-item-reviews__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.author-item-reviews__location {
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  color: #9c9c9c;
}

.simple-rating {
  position: relative;
  font-size: 25px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.simple-rating__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.simple-rating__item:checked, .simple-rating__item:checked ~ .simple-rating__label {
  color: #ffd300;
}
.simple-rating__label {
  flex: 0 0 20%;
  cursor: pointer;
  height: 100%;
}
.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}
.simple-rating__label:hover, .simple-rating__label:hover ~ .simple-rating__label, .simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #ffef9f;
}

.articles__header:not(:last-child) {
  margin: 0 0 64px 0;
}
.articles__label:not(:last-child) {
  margin: 0 0 36px 0;
}
.articles__title:not(:last-child) {
  margin: 0 0 12px 0;
}
.articles__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 30px;
}
.articles__item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 394px;
}
@media (max-width: 1100px) {
  .articles__items {
    gap: 20px;
  }
  .articles__item {
    max-width: none;
    text-align: right;
  }
}
@media (max-width: 900px) {
  .articles__items {
    grid-template-columns: auto;
  }
}

.header-articles-items {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.header-articles-items__text {
  flex: 0 1 736px;
}
.header-articles-items__button {
  align-self: flex-end;
  flex: 0 0 auto;
}

@media (max-width: 767.98px) {
  .header-articles-items {
    flex-wrap: wrap;
  }
  .header-articles-items__button {
    min-width: 100%;
  }
  .header-articles-items__button a {
    min-width: 100%;
  }
}
.item-article__header {
  position: relative;
}
.item-article__category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 9px 10px;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  font-weight: 300;
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  color: #ffffff;
  z-index: 2;
}
.item-article__image {
  display: block;
  position: relative;
  padding-bottom: 49.238579%; /* 194/394 */
}
.item-article__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-article__body {
  padding: 26px;
}
.item-article__date {
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: rgba(129, 129, 139, 0.9);
}
.item-article__title a {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 140.625%; /* 27/19.2 */
  color: #ffffff;
}
.item-article__title a:hover {
  text-decoration: underline;
}
.item-article__text {
  font-size: 16px;
  line-height: 150%;
  color: #9c9c9c;
}
.item-article__link {
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  color: #3d96f4;
}
.item-article__date:not(:last-child) {
  margin: 0 0 20px 0;
}
.item-article__title:not(:last-child) {
  margin: 0 0 30px 0;
}
.item-article__text:not(:last-child) {
  margin: 0 0 21px 0;
}

.start__container {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 20px;
}
.start__texts {
  flex: 0 1 373px;
}
.start__title {
  font-size: 32px;
  line-height: 140.625%; /* 45/32 */
  text-align: center;
  color: #ffffff;
}
.start__title:not(:last-child) {
  margin: 0 0 16px 0;
}
.start__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  text-align: center;
  color: #9c9c9c;
}
.start__buttons {
  display: flex;
  gap: 32px;
}
.start__button_dark {
  background: rgba(129, 129, 139, 0.2);
}
@media (max-width: 816px) {
  .start__container {
    flex-direction: column;
    gap: 50px;
  }
  .start__texts {
    flex: 1 1 auto;
  }
}
@media (max-width: 440px) {
  .start__buttons {
    flex-direction: column;
    gap: 16px;
  }
  .start__button {
    min-width: 100%;
  }
  .start__button a {
    min-width: 100%;
  }
}
@media (max-width: 424.98px) {
  .start__container {
    gap: 25px;
    padding: 25px 15px;
  }
}

.footer__main {
  display: grid;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 40px;
  margin-bottom: 100px;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 46px;
  border-top: 1px solid rgba(129, 129, 139, 0.2);
}
.footer__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
  color: #9c9c9c;
}
@media (max-width: 1100px) {
  .footer__main {
    gap: 3%;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
  .footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
@media (max-width: 767.98px) {
  .footer__main {
    grid-template-columns: auto auto;
    justify-items: center;
    row-gap: 40px;
    margin-bottom: 40px;
  }
  .footer__column:nth-child(4) {
    grid-column: span 2;
  }
  .footer__column:nth-child(1) {
    grid-column: span 2;
  }
}

.column-footer__logo:not(:last-child) {
  margin: 0 0 32px 0;
}
.column-footer__text_1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #9c9c9c;
}
.column-footer__text_1:not(:last-child) {
  margin: 0 0 33px 0;
}
.column-footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #9c9c9c;
}
.column-footer__text:not(:last-child) {
  margin: 0 0 33px 0;
}
.column-footer__items-row {
  display: flex;
  gap: 16px;
}
.column-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 36px;
  width: 36px;
  height: 36px;
}
.column-footer__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /* 24/20 */
  letter-spacing: 1px;
  color: #ffffff;
}
.column-footer__title:not(:last-child) {
  margin: 0 0 30px 0;
}
.column-footer__items-column {
  display: flex;
  flex-direction: column;
}
.column-footer__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 162.5%; /* 26/16 */
  color: #9c9c9c;
  display: inline-block;
}
.column-footer__link:not(:last-child) {
  margin: 0 0 24px 0;
}
.column-footer__buttons {
  display: flex;
  gap: 16px;
}
.column-footer__input {
  background: none;
  max-width: 100%;
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  flex: 0 1 224px;
  padding: 0 33px;
  color: #999999;
}
@media (max-width: 424.98px) {
  .column-footer__buttons {
    flex-direction: column;
  }
  .column-footer__input {
    flex: 0 1 50px;
  }
}